<section class="advantages">
  <div class="container advantages-container">
    <h2 class="advantages-title">Переваги</h2>
    <p class="advantages-subtitle">Чому обрати нас?</p>
    <p class="advantages-text">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
    <ul class="advantages-list">
      <li class="advantages-list-item">
        <picture>
          <source
            srcset="
              ../img/advantages/advantages-mobile-1-min.jpg    1x,
              ../img/advantages/advantages-mobile-1@2x-min.jpg 2x
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              ../img/advantages/advantages-tablet-1-min.jpg    1x,
              ../img/advantages/advantages-tablet-1@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/advantages/advantages-desctop-1-min.jpg    1x,
              ../img/advantages/advantages-desctop-1@2x-min.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            class="advantages-list-image"
            src=" ../img/advantages/advantages-desctop-1-min.jpg"
            alt="A flat lay photo featuring natural materials used in eco-friendly bag production: organic cotton rolls, pieces of recycled fabric, hemp rope, and a green leaf arranged neatly on a linen surface. Soft natural lighting. A tag or label saying “100% organic” subtly visible. Calm, earthy tone."
            width="360"
          />
        </picture>
        <h3 class="advantages-list-title">Стійкість та екологічність</h3>
        <p class="advantages-list-text">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>
      <li class="advantages-list-item">
        <picture>
          <source
            srcset="
              ../img/advantages/advantages-mobile-2-min.jpg    1x,
              ../img/advantages/advantages-mobile-2@2x-min.jpg 2x
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              ../img/advantages/advantages-tablet-2-min.jpg    1x,
              ../img/advantages/advantages-tablet-2@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/advantages/advantages-desctop-2-min.jpg    1x,
              ../img/advantages/advantages-desctop-2@2x-min.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            class="advantages-list-image"
            src=" ../img/advantages/advantages-desctop-2-min.jpg"
            alt="A row of eco-tote bags in minimalistic, trendy colors (e.g., sage green, sand, muted pink) displayed on a neutral backdrop. Each bag has a sleek silhouette and subtle branding. A modern interior setting with soft daylight. Focus on aesthetic appeal and modern lifestyle."
            width="288"
          />
        </picture>
        <h3 class="advantages-list-title">Міцність і довговічність</h3>
        <p class="advantages-list-text">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>
      <li class="advantages-list-item">
        <picture>
          <source
            srcset="
              ../img/advantages/advantages-mobile-3-min.jpg    1x,
              ../img/advantages/advantages-mobile-3@2x-min.jpg 2x
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              ../img/advantages/advantages-tablet-3-min.jpg    1x,
              ../img/advantages/advantages-tablet-3@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/advantages/advantages-desctop-3-min.jpg    1x,
              ../img/advantages/advantages-desctop-3@2x-min.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            class="advantages-list-image"
            src=" ../img/advantages/advantages-desctop-3-min.jpg"
            alt="Close-up image of a sturdy tote bag being sewn with visible double stitching on thick organic fabric. The image shows hands of a craftsperson using a sewing machine or stitching manually. Emphasis on texture, seams, and build quality. Background blurred to keep focus on the reinforced construction."
            width="288"
          />
        </picture>

        <h3 class="advantages-list-title">Стильний та сучасний дизайн</h3>
        <p class="advantages-list-text">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
