<section class="feedbacks section" id="feedbacks">
  <div class="container">
    <h2 class="feedbacks-title">Що говорять наші клієнти</h2>

    <ul class="feedbacks-list">
      <li class="feedbacks-item">
        <div class="feedbacks-rating">
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
        </div>
        <p class="feedbacks-text">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <p class="feedbacks-author">Анна</p>
      </li>

      <li class="feedbacks-item">
        <div class="feedbacks-rating">
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-icon inactive" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
        </div>
        <p class="feedbacks-text">
          Відмінна якість матеріалів, приємно здивована.
        </p>
        <h3 class="feedbacks-author">Ігор</h3>
      </li>

      <li class="feedbacks-item">
        <div class="feedbacks-rating">
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-icon inactive" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
        </div>
        <p class="feedbacks-text">
          Сумка повністю відповідає опису, рекомендую!
        </p>
        <h3 class="feedbacks-author">Олена</h3>
      </li>

      <li class="feedbacks-item">
        <div class="feedbacks-rating">
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="16" height="16">
            <use href="./img/icons/sprite.svg#icon-star"></use>
          </svg>
        </div>
        <p class="feedbacks-text">Швидка доставка та гарне обслуговування.</p>
        <p class="feedbacks-author">Сергій</p>
      </li>
    </ul>
  </div>
</section>
