<section class="footer">
  <h2 class="visually-hidden">Footer block</h2>
  <div class="container footer-container">
    <div class="footer-nav">
      <div class="footer-logo-box">
        <a class="footer-logo-link" href="./index.html">
          <svg class="logo-icon">
            <use href="../img/icons/sprite.svg#icon-logo"></use>
          </svg>
        </a>
      </div>

      <ul class="footer-list">
        <li class="footer-list-item">
          <a href="../partials/about.html" class="footer-list-link">Про нас</a>
        </li>
        <li class="footer-list-item">
          <a href="../partials/advantages.html" class="footer-list-link"
            >Переваги</a
          >
        </li>
        <li class="footer-list-item">
          <a href="../partials/assortment.html" class="footer-list-link"
            >Асортимент</a
          >
        </li>
        <li class="footer-list-item">
          <a href="../partials/gallery.html" class="footer-list-link"
            >Галерея</a
          >
        </li>
        <li class="footer-list-item">
          <a href="../partials/feedbacks.html" class="footer-list-link"
            >Відгуки</a
          >
        </li>
        <li class="footer-list-item">
          <a href="../partials/footer.html" class="footer-list-link"
            >Контакти</a
          >
        </li>
      </ul>
      <ul class="footer-social-list">
        <li class="footer-social-list-item">
          <a href="https://www.instagram.com/">
            <svg class="footer-box-img" width="24" height="24">
              <use href="../img/icons/sprite.svg#icon-Instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-list-item-">
          <a href="https://www.linkedin.com/">
            <svg class="footer-box-img" width="24" height="24">
              <use href="../img/icons/sprite.svg#icon-LinkedIn"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-list-item-">
          <a href="https://www.youtube.com/">
            <svg class="footer-box-img" width="24" height="24">
              <use href="../img/icons/sprite.svg#icon-Youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-adress">
      <address class="footer-adress-box" id="mob-contacts">
        <ul class="footer-adress-list">
          <li class="footer-adress-list-item">
            <a class="ooter-adress-list-link" href="tel:+380999091122"
              >+38 (099) 909-11-22</a
            >
          </li>
          <li class="footer-adress-list-item">
            <a class="ooter-adress-list-link" href="mailto:hello@ecotote.com"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
      <div class="footer-copyrite">
        <a href="" class="copyrite"> &copy;2025 EcoTote. Всі права захищені.</a>
      </div>
    </div>
  </div>
</section>
