<footer class="footer container">
  <div class="footer-wrap">
    <div class="wrapper">
      <div class="logo-container">
        <a class="footer-logo" href="./index.html">
          <svg class="logo-icon">
            <use href="/img/icons/logo.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <div class="nav-container">
        <nav class="menu-navigation">
          <ul class="menu-nav">
            <li class="menu-list">
              <a class="menu-studio" href="./index.html">Про нас</a>
            </li>
            <li class="menu-list">
              <a class="menu-studio" href="">Переваги</a>
            </li>
            <li class="menu-list">
              <a class="menu-studio" href="">Асортимент</a>
            </li>
            <li class="menu-list">
              <a class="menu-studio" href="">Галерея</a>
            </li>
            <li class="menu-list">
              <a class="menu-studio" href="">Відгуки</a>
            </li>
            <li class="menu-list">
              <a class="menu-studio" href="">Контакти</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="social-container">
        <ul class="team-icon-list-footer">
          <li class="footer-list">
            <a class="social-logo" href="https://www.instagram.com/">
              <svg class="social-icon" width="32" height="32">
                <use href="./img/icons/sprite.svg#icon-Instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-list">
            <a class="social-logo" href="https://www.linkedin.com/">
              <svg class="social-icon" width="32" height="32">
                <use href="./img/icons/sprite.svg#icon-LinkedIn"></use>
              </svg>
            </a>
          </li>
          <li class="footer-list">
            <a class="social-logo" href="https://www.youtube.com/">
              <svg class="social-icon" width="32" height="32">
                <use href="./img/icons/sprite.svg#icon-Youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="line" />
    <div class="menu-address">
      <address class="menu-list-nav" id="mob-contacts">
        <ul class="menu-contacts">
          <li class="menu-mail-list">
            <a class="menu-mail" href="tel:+380999091122"
              >+38 (099) 909-11-22</a
            >
          </li>
          <li class="menu-mail-list">
            <a class="menu-mail" href="mailto:hello@ecotote.com"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="footer-container">
      <p class="footer-description">© 2025 EcoTote. Всі права захищені.</p>
    </div>
  </div>
</footer>
