<section class="gallery-section">
    <h2 class="gallary-title">Галерея зображень</h2>
    <p class="gallary-item">EcoTotes у повсякденному житті</p>
    <ul class="gallery-grid">
        <li class="gallery-list">
            <picture>
                <source media="(min-width:1158px )"
                    srcset="/img/gallery/gallery-desctop-2-min.jpg 1x, /img/gallery/gallery-desctop-2@2x-min.jpg 2x">
                <source media="(min-width: 768px)"
                    srcset="/img/gallery/gallery-tablet-2-min.jpg 1x, /img/gallery/gallery-tablet-2@2x-min.jpg 2x">
                <source media="(max-width:767px)"
                    srcset="/img/gallery/gallery-mobile-2-min.jpg 1x, /img/gallery/gallery-mobile-2@2x-min.jpg 2x">
                <img class="gallary-photo" src="/img/gallery/gallery-desctop-2-min.jpg" alt="Сумка на стільці з кавою">
            </picture>
        </li>
        <li class="gallery-list">
            <picture>
                <source media="(min-width:1158px )"
                    srcset="/img/gallery/gallery-desctop-3-min.jpg 1x, /img/gallery/gallery-desctop-3@2x-min.jpg 2x">
                <source media="(min-width: 768px)"
                    srcset="/img/gallery/gallery-tablet-3-min.jpg 1x, /img/gallery/gallery-tablet-3@2x-min.jpg 2x">
                <source media="(max-width:767px)"
                    srcset="/img/gallery/gallery-mobile-3-min.jpg 1x, /img/gallery/gallery-mobile-3@2x-min.jpg 2x">
                <img class="gallary-photo" src="/img/gallery/gallery-desctop-3-min.jpg"
                    alt="Чоловік з еко-сумкою у місті">
            </picture>
        </li>
        <li class="gallery-list">
            <picture>
                <source media="(min-width:1158px )"
                    srcset="/img/gallery/gallery-desctop-4-min.jpg 1x, /img/gallery/gallery-desctop-4@2x-min.jpg 2x">
                <source media="(min-width: 768px)"
                    srcset="/img/gallery/gallery-tablet-4-min.jpg 1x, /img/gallery/gallery-tablet-4@2x-min.jpg 2x">
                <source media="(max-width:767px)"
                    srcset="/img/gallery/gallery-mobile-4-min.jpg 1x, /img/gallery/gallery-mobile-4@2x-min.jpg 2x">
                <img class="gallary-photo" src="/img/gallery/gallery-desctop-4-min.jpg"
                    alt="Людина з сумкою з логотипом переробки">
            </picture>
        </li>
        <li class="gallery-list">
            <picture>
                <source media="(min-width:1158px )"
                    srcset="/img/gallery/gallery-desctop-1-min.jpg 1x, /img/gallery/gallery-desctop-1@2x-min.jpg 2x">
                <source media="(min-width: 768px)"
                    srcset="/img/gallery/gallery-tablet-1-min.jpg 1x, /img/gallery/gallery-tablet-1@2x-min.jpg 2x">
                <source media="(max-width:767px)"
                    srcset="/img/gallery/gallery-mobile-1-min.jpg 1x, /img/gallery/gallery-mobile-1@2x-min.jpg 2x">
                <img class="gallary-photo" src="/img/gallery/gallery-desctop-1-min.jpg" alt="Жінка з сумкою з овочкам">
            </picture>
        </li>
    </ul>
</section>