<div class="header-page">
  <div class="header-container container">
    <a href="./index.html" class="header-logo">
      <svg class="header-logo-svg" width="104" height="39">
        <use href="/img/icons/sprite.svg#icon-logo"></use>
      </svg>
    </a>

    <ul class="header-nav-list">
      <li class="header-nav-list-item">
        <a href="#about" class="header-nav-list-link">Про нас</a>
      </li>
      <li class="header-nav-list-item">
        <a href="#advantages" class="header-nav-list-link">Переваги</a>
      </li>
      <li class="header-nav-list-item">
        <a href="#assortment" class="header-nav-list-link">Асортимент</a>
      </li>
      <li class="header-nav-list-item">
        <a href="#gallery" class="header-nav-list-link">Галерея</a>
      </li>
      <li class="header-nav-list-item">
        <a href="#feedbacks" class="header-nav-list-link">Відгуки</a>
      </li>
      <li class="header-nav-list-item">
        <a href="#support" class="header-nav-list-link">Контакти</a>
      </li>
    </ul>

    <address class="header-adress">
      <ul class="header-adress-list">
        <li class="header-adress-list-item">
          <a href="tel:380999091122" class="header-adress-list-link"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="header-adress-list-item">
          <a href="mailto:hello@ecotote.com" class="header-adress-list-link"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>

    <button
      type="button"
      class="burger-icon"
      data-burger-btn
      aria-label="Відкрити меню"
    >
      <svg class="burger-icon-svg" width="24" height="24">
        <use href="/img/icons/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <div class="modal" data-menu>
    <div class="header-modal-box container" data-menu>
      <div class="header-modal">
        <div class="modal-nav">
          <a href="./index.html" class="modal-logo">
            <svg class="modal-logo-svg" width="84" height="36">
              <use href="/img/icons/sprite.svg#icon-logo"></use>
            </svg>
          </a>
          <button class="modal-close-btn">
            <svg class="modal-close-btn-svg" width="16" height="16">
              <use href="../img/icons/sprite.svg#icon-x"></use>
            </svg>
          </button>
        </div>

        <ul class="header-modal-list">
          <li class="header-modal-list-item">
            <a href="#about" class="header-modal-list-link">Про нас</a>
          </li>
          <li class="header-modal-list-item">
            <a href="#advantages" class="header-modal-list-link">Переваги</a>
          </li>
          <li class="header-modal-list-item">
            <a href="#assortment" class="header-modal-list-link">Асортимент</a>
          </li>
          <li class="header-modal-list-item">
            <a href="#gallery" class="header-modal-list-link">Галерея</a>
          </li>
          <li class="header-modal-list-item">
            <a href="#feedbacks" class="header-modal-list-link">Відгуки</a>
          </li>
          <li class="header-modal-list-item">
            <a href="#support" class="header-modal-list-link">Контакти</a>
          </li>
        </ul>
        <address class="header-modal-adress">
          <ul class="modal-adress-list">
            <li class="modal-adress-list-item">
              <a href="tel:380999091122" class="modal-adress-list-link"
                >+38 (099) 909 11 22</a
              >
            </li>
            <li class="modal-adress-list-item">
              <a href="mailto:hello@ecotote.com" class="modal-adress-list-link"
                >hello@ecotote.com</a
              >
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</div>
