<header class="page-header">
    <div class="container page-header-container">

        <button type="button" class="btn-burger" data-burger-btn aria-label="Відкрити меню">
            <svg class="icon-burger" width="32" height="32">
                <use href="/img/icons/sprite.svg#icon-burger"></use>
            </svg>
        </button>
        <a href="src\index.html" class="logo-link">
            <svg class="icon-logo" width="84" height="36">
                <use href="/img/icons/sprite.svg#icon-logo"></use>
            </svg>
        </a>

        <nav class="nav-header">
            <ul class="nav-list">
                <li class="nav-item"><a href=".\partials\about.html">Про нас</a></li>
                <li class="nav-item"><a href=".\partials\advantages.html">Переваги</a></li>
                <li class="nav-item"><a href=".\partials\assortment.html">Асортимент</a></li>
                <li class="nav-item"><a href=".\partials\gallery.html">Галерея</a></li>
                <li class="nav-item"><a href=".\partials\feedbacks.html">Відгуки</a></li>
                <li class="nav-item"><a href=".\partials\footer.html">Контакти</a></li>
            </ul>
        </nav>
        <ul class="contact-list">
            <li><a href="tel:+380999091122">+38 (099) 909 11 22</a></li>
            <li><a href="mailto:hello@ecotote.com">hello@ecotote.com</a>
            </li>
        </ul>
    </div>
    <div class="burger-menu" data-menu>
        <div class="burger-menu-container">
            <div class="burger-menu-header">
                <button class="close_button burger-menu-close" type="button">
                    <svg class="icon-close" width="24" height="24">
                        <use href="/img/icons/sprite.svg#icon-x"></use>
                    </svg>
                </button>
                <a href="#" class="logo-link">
                    <svg class="icon-logo logo-burger" width="84" height="36">
                        <use href="/img/icons/sprite.svg#icon-logo"></use>
                    </svg>
                </a>
            </div>
            <nav class="nav-burger">
                <ul class="nav-list-burger">
                    <li class="nav-item"><a href=".\partials\about.html">Про нас</a></li>
                    <li class="nav-item"><a href=".\partials\advantages.html">Переваги</a></li>
                    <li class="nav-item"><a href=".\partials\assortment.html">Асортимент</a></li>
                    <li class="nav-item"><a href=".\partials\gallery.html">Галерея</a></li>
                    <li class="nav-item"><a href=".\partials\feedbacks.html">Відгуки</a></li>
                    <li class="nav-item"><a href=".\partials\footer.html">Контакти</a></li>
                </ul>
            </nav>
            <ul class="contact-list-burger">
                <li><a href="tel:+380999091122">+38(099)909 11 22</a>
                </li>
                <li><a href="mailto:hello@ecotote.com">hello@ecotote.com</a>
                </li>
            </ul>
        </div>
    </div>
</header>
