<section class="hero">
  <div class="hero-ecotone container">
    <div class="hero-title">
      <h1 class="hero-title-style">EcoTote — Стиль, що не шкодить планеті.</h1>
    </div>
    <div>
      <p class="hero-explain">
        Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
        відповідальність разом з EcoTote.
      </p>
      <button class="hero-button">Купити зараз</button>
    </div>
    <img
      src="/img/hero/hero-mobile-min.jpg"
      alt="EcoTote-bags"
      class="ecotote-bags"
    />
  </div>
</section>
