<section class="hero" id="hero">
  <div class="hero-ecotone container">
    <div class="hero-ecotone-text-btn">
      <div class="hero-title">
        <h1 class="hero-title-style">
          EcoTote — Стиль, що не шкодить планеті.
        </h1>
      </div>
      <div class="hero-explain-container">
        <p class="hero-explain">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>
        <div class="hero-button-container">
          <a href="our-product" type="button" class="hero-button"
            >Купити зараз</a
          >
        </div>
      </div>
    </div>
    <div class="hero-container-img">
      <picture>
        <source
          srcset="
            /img/hero/hero-desctop.jpg        1x,
            /img/hero/hero-desctop@2x-min.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/hero/hero-tablet-min.jpg    1x,
            /img/hero/hero-tablet@2x-min.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/hero/hero-mobile-min.jpg    1x,
            /img/hero/hero-mobile@2x-min.jpg 2x
          "
          media="(max-width:767px)"
        />
        <img
          src="/img/hero/hero-mobile-min.jpg"
          alt="Еко-сумка в стилі мінімалізм"
          class="ecotote-bags"
        />
      </picture>
    </div>
  </div>
</section>
