.feedbacks {
  background-color: #ebf8ed;
  padding: 32px 0;
}

.feedbacks-title {
  text-align: center;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 80px;
}

.feedbacks-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 32px 16px;
}

.feedbacks-item {
  flex-basis: 100%;
}

.feedbacks-rating {
  display: flex;
  gap: 4px;
  margin-bottom: 12px;
}

.star-icon {
  fill: #00b068;
}

.star-icon.inactive {
  fill: #2e2f42; /* або просто нічого — буде чорна за замовчуванням */
}

.feedbacks-text {
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  max-width: 264px;
}

.feedbacks-author {
  font-weight: 700;
  font-size: 14px;
  color: #2e2f42;
}

.feedbacks-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 32px;
  color: #000;
}

@media screen and (min-width: 768px) {
  .feedbacks-list {
    gap: 32px;
    padding: 64px 32px;
  }

  .feedbacks-item {
    flex-basis: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .feedbacks-list {
    gap: 80px;
    padding: 64px 0;
  }

  .feedbacks-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}
