/* CSS: Adaptive Header (Mobile-First) */
:root {
    --color-white: #fff;
    --color-neutral-darkest: #030a06;
    --color-green-light: #d7f2db;
    --color-scheme-2-background: #75D281;
    --color-dark: #1c221e;
    --bg-header: var(--color-white);
    --text-color: var(--color-dark);
}

.page-header {
    background-color: var(--color-scheme-2-background);
}

.page-header-container {
    width: 100%;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.icon-logo {
    display: flex;
    width: 84px;
    height: 36px;

}

.icon-logo:hover,
.icon-logo:focus{
    fill: var(--color-neutral-darkest);
    stroke: var(--color-white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-header .nav-list,
.contact-list {
    display: none;
}

.btn-burger {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

icon-burger {
    display: block;
    background-color: var(--color-scheme-2-background);
}

.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--color-scheme-2-background);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.burger-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: block;
    z-index: 1000;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 
    0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 
    2px 1px 0 rgba(46, 47, 66, 0.08);
}

.burger-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-scheme-2-background);
    padding: 0 16px;
    
}

.burger-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon-logo-burger {
    display: block;
    width: 84px;
    height: 36px;
}

.close_button {
    display: block;
        fill: var(--color-scheme-2-text);
        cursor: pointer;
        padding: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2,1);
    background: transparent;
}

.icon-close {
    width: 15px;
    height: 15px;
}

.nav-list-burger {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 32px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-scheme-2-text);
    text-align: left;
    margin-bottom: 96px;
    text-decoration: none;
}


.nav-item a:hover,
.nav-item a:focus,
.contact-item a:hover,
.contact-item a:focus {
    color: var(--color-white);
    background: var(--color-neutral-darkest);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-burger a,
.contact-list-burger {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-scheme-2-text);
    text-align: left;
    text-decoration: none;
}

/* Desktop styles */
@media screen and (min-width: 768px) and (max-width: 1439.99px) {

    .page-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .burger-menu-container {
        padding: 32px;
        max-width: 768px;
    }

        .btn-burger {
            position: absolute;
            top: 20px;
            right: 45px;
            width: 16px;
            height: 12px;
        
        }

        .nav-list-burger {
            margin-bottom: 32px;
        }


}
@media screen and (min-width: 1440px) {
    .page-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 64px;
        min-width: 1440px;
    }

    .nav-list {
        display: flex;
        gap: 32px;
        list-style: none;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-scheme-2-text);
    }

        .icon-logo {
            width: 106px;
            height: 45px;   }

    .nav-list:focus,
    .nav-list:hover,
    .contact-list:focus,
    .contact-list:hover {
        color: var(--color-white);
        background: var(--color-neutral-darkest);
    }
    .contact-list {
        display: flex;
        align-items: center;
        gap: 16px;
        list-style: none;
        text-decoration: none;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-scheme-2-text);
    }
    
    .btn-burger,
    .burger-menu {
        display: none;
    }
}