.hero {
    margin-top: 64px;
    margin-bottom: 16px;
    display: block;
}

.hero-title {
    max-width: 288px;
    margin-bottom: 20px;
}

.hero-title-style {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #030a06;
    text-align: start;
}
